@import "../../variables";

.info-post-comment {
  .comment-container {
    border-top: 0.0938rem map-get($colors, "gray") solid;

    .post-comment {
      .post-comment-self-img {
        width: 2.8rem;
        height: 2.8rem;
        object-fit: cover;
        border-radius: 50%;
      }

      .send-comment {
        position: relative;
        border-radius: 20px;
        .post-comment-input {
          border: none;

          &::placeholder {
            transition: all 0.3s ease;
          }

          &:focus {
            &::placeholder {
              transform: translateX(15px);
              opacity: 0;
              transition: all 0.3s ease;
            }
          }
        }
        .icon-send-comment {
          cursor: pointer;
        }
        .comment-tag-container {
          display: none;
          position: absolute;
          top: 2.5rem;
          left: 1rem;
          min-width: 10rem;
          box-shadow: 0px 0px 10px rgba(51, 51, 102, 0.7);
          border-radius: 0.625rem;
          z-index: 1;
          .comment-tag-child {
            position: relative;
            cursor: pointer;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 95%;
              height: 85%;
              border-radius: 0.2rem;
              background-color: map-get($colors, "white");
              transition: background-color 0.3s, ease;
              z-index: -1;
            }
            &:hover {
              &::before {
                transition: background-color 0.3s, ease;
                background-color: map-get($colors, "gray-1");
              }
            }
          }
        }
        .comment-tag-active{
          display: block;
        }
      }
    }

    .comment-list {
      .comment-list-container {
        .post-comment-child {
          .comment-child-self-img {
            width: 2.8rem;
            height: 2.8rem;
            object-fit: cover;
            border-radius: 50%;
          }
          .comment-child {
            .comment-child-container {
              .comment-child-main {
                position: relative;
                .comment-child-content {
                  width: fit-content;
                  max-width: 15rem;
                  white-space: wrap;
                  border-radius: 15px;
                  .comment-text {
                    word-wrap: break-word;
                    word-break: break-all;
                  }
                  .edit-comment {
                    border: 1px map-get($colors, "gray-6") solid;
                    border-radius: 20px;
                    .edit-comment-input {
                      border: none;

                      &::placeholder {
                        transition: all 0.3s ease;
                      }

                      &:focus {
                        &::placeholder {
                          transform: translateX(15px);
                          opacity: 0;
                          transition: all 0.3s ease;
                        }
                      }
                    }
                    .icon-edit-comment {
                      cursor: pointer;
                    }
                    .icon-close-edit {
                      cursor: pointer;
                    }
                  }
                }

                .comment-child-setting {
                  position: relative;
                  cursor: pointer;
                  width: 1.8rem;
                  height: 1.8rem;
                  border-radius: 50%;
                  opacity: 0;
                  transition: all 0.3s;

                  &:hover {
                    transition: all 0.3s;
                    background-color: map-get($colors, "gray-1");
                  }
                }

                &:hover {
                  .comment-child-setting {
                    opacity: 1;
                  }
                }

                .comment-setting-choose-container {
                  position: absolute;
                  padding: 0;
                  top: 90%;
                  width: 10rem;
                  background-color: white;
                  box-shadow: 0px 0px 10px rgba(51, 51, 102, 0.7);
                  border-radius: 0.625rem;
                  .comment-setting-choose-child {
                    cursor: pointer;
                    border-bottom: 1px black solid;
                    transition: all 0.3s;

                    &:hover {
                      transition: all 0.3s;
                      background-color: map-get($colors, "gray-1");
                    }

                    &:last-child {
                      border: none;
                    }
                  }
                }
              }

              .comment-child-info {
                .comment-reply-bt {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}
