@import "../../variables";

.notification {
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 85%;
    border-radius: 0.625rem;
    background-color: #00000000;
    transition: background-color 0.3s ease;
  }

  &:hover {
    &::before {
      transition: background-color 0.3s ease;
      background-color: map-get($colors, "gray-1");
    }
  }
  .noti-icon-container {
  }
  .noti-info-container {
    width: 80%;
    .noti-info-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
}
