.login{
    height: 100vh;
    .login-logo-img{
        width: 20rem;
    }
    .login-welcome{

    }
    .login-google-login{
        width: 23rem;
        font-size: 1.5625rem !important;
    }
}