@import "../../variables";
.form-delete-edit {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: #ffffff, $alpha: 0.8);
  z-index: 999;
  .pop-delete-edit-container {
    width: 30rem;
    border-radius: 0.625rem;
    box-shadow: 0px 2px 20px rgba(86, 86, 143, 0.3);
    transition: all 0.3s ease;
    .pop-delete {
      cursor: pointer;
      border-radius: 0;
      border-bottom: 1px black solid;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: rgba(228, 230, 235, 0.6);
        transition: background-color 0.3s ease;
      }
    }
    .pop-edit {
      cursor: pointer;
      border-radius: 0;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: rgba(228, 230, 235, 0.6);
        transition: background-color 0.3s ease;
      }
    }
  }
}

.show-delete-edit-pop {
  display: flex;
}
